@import url('./theme.css');

* {
    all: unset;
}

label {
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    font-size: 12pt;
}

.bar {
    background-color: @base-transparent;
    border-radius: 24px;
    min-height: 32px;
  }

.rightBox {
    background-color: @crust-transparent;
    color: #ffffff;
    margin: 6px;
    padding: 0 12px;
    border-radius: 24px;
    font-weight: bolder;
}

.clock {
    background-color: @crust-transparent;
    color: #ffffff;
    margin: 6px;
    padding: 0 12px;
    border-radius: 24px;
    font-weight: bolder;
  }

.focusedTitle {
    background-color: @crust-transparent;
    color: @mauve;
    margin: 6px;
    padding: 0 12px;
    border-radius: 24px;
}

.focusedTitle label {
    font-size: 14px;
    font-weight: bolder;
}

.powerButton {
    font-size: 14pt;
    margin: 5px 5px;
    color: rgb(242, 143, 173)
}

.controlCenterButton {
    font-size: 20pt;
    margin: 3px 3px;
}

.controlCenterButton image {
    transition: -gtk-icon-transform 0.25s ease-in;
}

.batIcon {
    font-size: 14pt;
    margin: 5px 5px;
}

.volIcon {
    margin: 5px 2px 0px 5px;
    font-size: 14pt;
}

.netIcon {
    margin: 5px 5px;
    font-size: 14pt;
}

.volBar {
    min-width: 60px;
}

.volBar trough highlight {
    background-color: #ffffff;
    border-radius: 1rem;
    min-height: 6px;
}

.volBar trough {
    background-color: #212121;
    border-radius: 1rem;
}


.workspaces {
    color: #ffffff;
    background-color: @crust-transparent;
    margin: 6px;
    padding: 0 6px;
    border-radius: 24px;
    font-weight: bolder;
  }
  
.workspaces button {
    padding: 0 0.4rem;
    border-radius: 24px;
    margin: 0 5px;
    background-color: @surface0;
    transition: background-color 0.25s ease-in;
}

.workspaces button:hover, .workspaces button.active:hover{
    background-color: @mauve;
}

/*.workspaces button:active,*/

.workspaces button.focused {
    background-color: @mauve;
    margin: 0 3.5px;
    border-radius: 24px;
}

.workspaces button.active{
    background-color: @overlay1
}

.workspaces button.focused label{
	min-height: 10px;
	font-size: 1px;
    transition: min-width 0.25s linear;
}

.workspaces label{
	min-width: 1px;
	min-height: 11px;
	font-size: 1px;
    transition: min-width 0.25s linear;
}


.controlcenter {
    color: #ffffff;
    background-color: @base-transparent;
    border-radius: 12px;
    font-weight: bolder;
}

.controlcenter button{
    padding: 6px 6px;
    margin: 5px 5px;
    border-radius: 6px;
    background-color: @surface1;
    font-size: 16pt;
}

.controlcenter label{
    padding: 6px 6px;
    margin: 5px 5px;
    border-radius: 6px;
    background-color: @surface1;
    font-size: 12pt;
}

.system-box {
    background-color: @crust;
    color: #ffffff;
    margin: 6px;
    padding: 6px 6px;
    border-radius: 12px;
    font-weight: bolder;
}

.sliders-box {
    background-color: @crust;
    padding: 3px 3px;
    margin: 6px;
	border-radius: 12px;
}

.sliders-box button {
    background-color: @crust;
}

.sliders-box trough {
    background-color: @surface1;
    border-radius: 6px;
    min-height: 15px;
}

.sliders-box trough highlight {
    background-color: @mauve;
    border-radius: 6px;
    min-height: 15px;
}


.battery-progress {
    color: #000000;
    padding: 3px 3px;
    margin: 5px 5px;
}

.battery-progress label {
    background-color: unset;
    margin: unset;
}

.battery-progress trough {
    background-color: @surface1;
    border-radius: 6px;
    min-height: 25px;


}

.battery-progress trough progress {
    background-color: @mauve;
    border-radius: 6px;
    min-height: 25px;
}

.toggle-button button{
	background-color: @crust;
}

.toggle-button label{
	background-color: @crust;
}

.toggle-button.active button, .toggle-button.active label, .toggle-button.active image {
	background-color: @mauve;
    color: #000000;
}

.media-box {
	background-color: @base-transparent;
	min-width: 300px;
	min-height: 435px;
	border-radius: 25px;

}

.player-icon {
    font-size: 16px;
}

.now-playing {
	font-size: 12px;
	margin: 0 5px;
}

.track-info {
	padding: 0 30px;
}

.track-name {
	margin: 2px 0;
}

.cover-art {
	background-size: cover;
	min-width: 250px;
	min-height: 250px;
	margin: 30px 30px 7px;
	border-radius: 12px;
}

.track-info label{
	font-size: 14px;
}

.track-name{
	font-weight: bold;
}

.artist-name{
	font-weight: lighter;
}

.position-slider {
    margin: 10px 0 2px;
    padding: 0 30px;
}

.position-slider trough {
    background-color: black;
    border-radius: 24px;
    min-height: 5px;
}

.position-slider trough highlight {
    background-color: @mauve;
    border-radius: 24px;
    min-height: 5px;
}

.position-label {
	margin: 0 30px;
}

.position-label label {
	font-weight: lighter;
	font-size: 13px;
}

.media-controls {
	font-size: 35px;
	margin: 3px 0;
}

.play-button {
	background-color: @mauve;
	color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	padding: 5px;
}

.loop-button {
    font-size: 30px;
}

.shuffle-button {
    font-size: 30px;
}

.loop-button.active {
	color: @mauve;
}

.shuffle-button.active {
	color: @mauve;
}

.next-button {
	margin: 0 0 0 15px;
}

.previous-button {
	margin: 0 15px 0 0;
}

.loop-button {
	margin: 0 0 0 25px;
}

.shuffle-button {
	margin: 0 25px 0 0;
}