* {
    all: unset;
}

label {
    font-weight: bold;
    font-family: "Ubuntu Nerd Font";
    font-size: 12pt;
}

.bar {
    background-color: rgba(44, 44, 44, 0.8);
    border-radius: 24px;
    min-height: 32px;
  }

.rightBox {
    background-color: rgba(33, 33, 33, 0.5);
    color: #ffffff;
    margin: 6px;
    padding: 0 12px;
    border-radius: 24px;
    font-weight: bolder;
}

.clock {
    background-color: rgba(33, 33, 33, 0.5);
    color: #ffffff;
    margin: 6px;
    padding: 0 12px;
    border-radius: 24px;
    font-weight: bolder;
  }

.focusedTitle {
    background-color: rgba(33, 33, 33, 0.5);
    color: #F06292;
    margin: 6px;
    padding: 0 12px;
    border-radius: 24px;
}

.focusedTitle label {
    font-size: 14px;
    font-weight: bolder;
}

.powerButton {
    font-size: 14pt;
    margin: 5px 5px;
}

.controlCenterButton {
    font-size: 20pt;
    margin: 3px 3px;
}

.controlCenterButton image {
    transition: -gtk-icon-transform 0.25s ease-in;
}

.batIcon {
    font-size: 14pt;
    margin: 5px 5px;
}

.volIcon {
    margin: 5px 2px 0px 5px;
    font-size: 14pt;
}

.netIcon {
    margin: 5px 5px;
    font-size: 14pt;
}

.volBar {
    min-width: 60px;
}

.volBar trough highlight {
    background-color: #ffffff;
    border-radius: 1rem;
    min-height: 6px;
}

.volBar trough {
    background-color: #212121;
    border-radius: 1rem;
}


.workspaces {
    color: #ffffff;
    background-color: rgba(33, 33, 33, 0.5);
    margin: 6px;
    padding: 0 6px;
    border-radius: 24px;
    font-weight: bolder;
  }
  
.workspaces button {
    padding: 1px 0.6rem;
    border-radius: 24px;
    transition: color 0.25s ease-in;
}

.workspaces button:hover {
    color: #F06292;
}

/*.workspaces button:active,*/

.workspaces button.focused {
    color: #212121;
    background-color: #F06292;
    margin: 0.5rem 0;
    padding: 1px 0.8rem ;
    border-radius: 24px;
}

.controlcenter {
    color: #ffffff;
    background-color: rgba(44, 44, 44, 0.8);
    border-radius: 12px;
    font-weight: bolder;
}

.controlcenter button{
    padding: 6px 6px;
    margin: 5px 5px;
    border-radius: 6px;
    background-color: rgb(68, 66, 66);
    font-size: 16pt;
}

.controlcenter label{
    padding: 6px 6px;
    margin: 5px 5px;
    border-radius: 6px;
    background-color: rgb(68, 66, 66);
    font-size: 12pt;
}

.system-box {
    background-color: rgba(33, 33, 33, 1);
    color: #ffffff;
    margin: 6px;
    padding: 6px 6px;
    border-radius: 12px;
    font-weight: bolder;
}

.sliders-box {
    background-color: rgba(33, 33, 33, 1);
    padding: 3px 3px;
    margin: 6px;
	border-radius: 12px;
}

.sliders-box trough {
    background-color: rgb(68, 66, 66);
    border-radius: 6px;
    min-height: 15px;
}

.sliders-box trough highlight {
    background-color: #F06292;
    border-radius: 6px;
    min-height: 15px;
}


.battery-progress {
    color: #000000;
    padding: 3px 3px;
    margin: 5px 5px;
}

.battery-progress label {
    background-color: unset;
    margin: unset;
}

.battery-progress trough {
    background-color: rgb(68, 66, 66);
    border-radius: 6px;
    min-height: 25px;


}

.battery-progress trough progress {
    background-color: #F06292;
    border-radius: 6px;
    min-height: 25px;
}

.toggle-button button{
	background-color: rgb(33, 33 ,33);
}

.toggle-button label{
	background-color: rgb(33, 33 ,33)
}

.toggle-button.active button, .toggle-button.active label, .toggle-button.active image{
	background-color: #F06292;
    color: #000000;
}