@import url("./theme.css");

.controlcenter, .menu {
    color: #ffffff;
    background-color: @base-transparent;
    border-radius: 12px;
    font-weight: bolder;
}

.controlcenter button{
    padding: 6px 6px;
    margin: 5px 5px;
    border-radius: 6px;
    background-color: @surface1;
    font-size: 16pt;
}

.controlcenter label{
    padding: 6px 6px;
    margin: 5px 5px;
    border-radius: 6px;
    background-color: @surface1;
    font-size: 12pt;
}

.system-box {
    background-color: @crust;
    color: #ffffff;
    margin: 6px;
    padding: 6px 6px;
    border-radius: 12px;
    font-weight: bolder;
}

.sliders-box {
    background-color: @crust;
    padding: 3px 3px;
    margin: 6px;
	border-radius: 12px;
}

.sliders-box button {
    background-color: @crust;
}

.sliders-box trough {
    background-color: @surface1;
    border-radius: 6px;
    min-height: 15px;
}

.sliders-box trough highlight {
    background-color: @mauve;
    border-radius: 6px;
    min-height: 15px;
}

.battery-progress {
    color: #000000;
    padding: 3px 3px;
    margin: 5px 5px;
}

.battery-progress label {
    background-color: unset;
    margin: unset;
}

.battery-progress trough block.empty {
    background-color: @surface1;
    border-radius: 6px;
    min-height: 25px;


}

.battery-progress trough block.filled {
    background-color: @mauve;
    border-radius: 6px;
    min-height: 25px;
}

.toggle-button button{
	background-color: @crust;
}

.toggle-button label{
	background-color: @crust;
}

.toggle-button.active button, .toggle-button.active label, .toggle-button.active image,
.governor-button.active, .governor-button.active label{
	background-color: @mauve;
    color: #000000;
}

.menu-back {
	background-color: unset;
	font-size: 25px;
    margin: 6px
}

.menu-title {
	background: unset;
	font-size: 20px;
    padding: 6px 6px;
    margin: -15px 0  5px 35px;
}

.menu-item {
	background-color: @crust;
	border-radius: 20px;
	margin: 5px;
    padding-left: 10px;
    padding-right: 15px;
}

.menu-item label {
	background: unset;
    padding: 6px 6px;
    margin: 5px 5px;
    font-size: 12pt
}

.simple-toggle {
	font-size: 20px;
	margin-right: -5px;
}