@import url("./theme.css");

.media-box {
	background-color: @base-transparent;
	min-width: 300px;
	min-height: 435px;
	border-radius: 25px;

}

.player-icon {
    font-size: 16px;
}

.now-playing {
	font-size: 12px;
	margin: 0 5px;
}

.track-info {
	padding: 0 30px;
}

.track-name {
	margin: 2px 0;
}

.cover-art {
	background-size: cover;
	min-width: 250px;
	min-height: 250px;
	margin: 30px 30px 7px;
	border-radius: 12px;
}

.track-info label{
	font-size: 14px;
}

.track-name{
	font-weight: bold;
}

.artist-name{
	font-weight: lighter;
}

.position-slider {
    margin: 10px 0 2px;
    padding: 0 30px;
}

.position-slider trough {
    background-color: black;
    border-radius: 24px;
    min-height: 5px;
}

.position-slider trough highlight {
    background-color: @mauve;
    border-radius: 24px;
    min-height: 5px;
}

.position-label {
	margin: 0 30px;
}

.position-label label {
	font-weight: lighter;
	font-size: 13px;
}

.media-controls {
	font-size: 35px;
	margin: 3px 0;
}

.play-button {
	background-color: @mauve;
	color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	padding: 5px;
}

.loop-button {
    font-size: 30px;
}

.shuffle-button {
    font-size: 30px;
}

.loop-button.active {
	color: @mauve;
}

.shuffle-button.active {
	color: @mauve;
}

.next-button {
	margin: 0 0 0 15px;
}

.previous-button {
	margin: 0 15px 0 0;
}

.loop-button {
	margin: 0 0 0 25px;
}

.shuffle-button {
	margin: 0 25px 0 0;
}
